.idea/

# Local
.DS_Store
*.local
*.log*

# Dist
node_modules
dist/

# Ignore turborepo cache
.turbo

# IDE
.vscode/*
!.vscode/extensions.json
.idea

# generated archives
*.tar.gz

# external CUE dependencies
/*/cue.mod/pkg/
