name: ci
on:
  push:
    branches:
      - main
  merge_group:
  release:
    types:
      - published

jobs:
  build:
    name: 'build'
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v4
      - uses: perses/github-actions@v0.9.0
      - uses: ./.github/perses-ci/actions/setup_environment
        with:
          enable_npm: true
          enable_go: true
          enable_cue: true
          cue_version: "v0.12.0"
      - name: install percli
        uses: perses/cli-actions/actions/install_percli@v0.1.0
        with:
          cli_version: "main-2025-03-11-40259f7f-distroless"
      - name: Login to CUE's Central Registry to allow retrieving deps
        run: cue login --token=${{ secrets.CUE_REG_TOKEN }}
      - name: install dependencies
        run: npm ci
      - name: build plugin
        run: go run ./scripts/build-plugin/build-plugin.go
      - name: store plugin archives
        uses: actions/upload-artifact@v4
        with:
          name: archives
          path: |
            **/*.tar.gz
            **/dist/mf-manifest.json
            !node_modules

  lint:
    name: 'lint'
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v4
      - uses: perses/github-actions@v0.9.0
      - uses: ./.github/perses-ci/actions/setup_environment
        with:
          enable_npm: true
      - run: npm ci
      - run: npm run lint

  test:
    name: 'test'
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v4
      - uses: perses/github-actions@v0.9.0
      - uses: ./.github/perses-ci/actions/setup_environment
        with:
          enable_npm: true
      - run: npm ci
      - run: npm run test

  type-check:
    name: 'type-check'
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v4
      - uses: perses/github-actions@v0.9.0
      - uses: ./.github/perses-ci/actions/setup_environment
        with:
          enable_npm: true
      - run: npm ci
      - run: npm run type-check

  validate-schemas:
    name: 'Validate plugin schemas'
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v4
      - uses: perses/github-actions@v0.9.0
      - uses: ./.github/perses-ci/actions/setup_environment
        with:
          enable_go: true
          cue_version: 'v0.12.0'
          enable_cue: true
      - name: Login to CUE's Central Registry to allow retrieving deps
        run: cue login --token=${{ secrets.CUE_REG_TOKEN }}
      - run: make validate-schemas
  
  module-check:
    name: 'Check plugin modules'
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v4
      - uses: perses/github-actions@v0.9.0
      - uses: ./.github/perses-ci/actions/setup_environment
        with:
          enable_go: true
          enable_cue: true
          cue_version: 'v0.12.0'
      - name: Login to CUE's Central Registry to allow retrieving deps
        run: cue login --token=${{ secrets.CUE_REG_TOKEN }}
      - name: Tidy modules
        run: make tidy-modules
      - name: Check for unused/missing packages in all cue.mod
        run: git diff --exit-code -- */cue.mod

  release:
    name: 'release'
    needs: 'build'
    runs-on: ubuntu-latest
    permissions:
      contents: write
    if: ${{ github.event.release.tag_name }}
    env:
      GITHUB_TOKEN: ${{ github.TOKEN }}
    steps:
      - name: checkout
        uses: actions/checkout@v4
      - uses: perses/github-actions@v0.9.0
      - uses: ./.github/perses-ci/actions/setup_environment
        with:
          enable_npm: false
          enable_go: true
          enable_cue: true
      - name: Download archive
        uses: actions/download-artifact@v4
        with:
          name: archives
      - run: go run ./scripts/upload-archive/upload-archive.go -tag=${{ github.event.release.tag_name }}
      - name: Publish CUE module
        run: go run ./scripts/cue-publish/cue-publish.go -tag=${{ github.event.release.tag_name }} -token=${{ secrets.CUE_REG_TOKEN }}
